<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="headline">
        <pre> nieuwe Schoolstraat 21-23, 2514HT Den Haag    Theatherdekunsthal@gmail.com    0624695130 
      </pre>
    </header>
    <nav>
        <div class="nav-links">
            <ul>
                <li> <a href="/homepage">Home</a> </li>
                <li>
                    <a>Films</a>
                    <ul>
                        <li> <a href="/films"> Alle films</a></li>
                        <li> <a href="/genres"> Genre</a></li>
                    </ul>
                </li>
                <li> <a href="/events">Events</a> </li>
                <li> <a href="/unlimited">Wadly Unlimited</a> </li>
                <li> <a href="/account">Mijn account</a> </li>
            </ul>
        </div>
    </nav>
    <center>
        <article>
            <div class="test">
                <p style="font-family:verdana">

                </p>

            </div>
        </article>
    </center>
    <footer>
        <pre> Werken bij Wadly    Adverteren    Voorwaarden   Privacy statement   Cookies </pre>
    </footer>
    @RenderBody()

</body>
</html>
