<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="headline">
        <pre> nieuwe Schoolstraat 21-23, 2514HT Den Haag    Theatherdekunsthal@gmail.com    0624695130 
      </pre>
    </header>
    <nav>
        <div class="nav-links">
            <ul>
                <li> <a href="/">Homepage</a> </li>
                <li><a href="/Films">Films</a> </li>
                <li> <a href="/Privacy">Privacy</a> </li>
                <li> <a href="/Contact">Contact</a> </li>
                <li> <a href="/account">Mijn account</a> </li>
            </ul>
        </div>
    </nav>
    
    <article>
        @RenderBody()
    </article>

    <footer>
        <pre> 
            Werken bij Wadly    <a href="/adverteren" class="linkadverteren">Adverteren</a>     Voorwaarden    <a href="/Privacy" class="linkprivacy">Privacy statement  </a>    Cookies

</pre>
    </footer>


</body>
</html>
