@{
    ViewData["Title"] = "adverteren";
}
<div class="succes">
    <h1>Gefeliciteerd</h1>
    <p class="succes">Je hebt onze geheime pagina gevonden!</p>
</div>

    <div class="paycontainer">
        <div class="paybtn">
            <span>Atom</span>
            <div class="dot"></div>
        </div>
        <h1>&#x261D; Hover on the button &#x261D;</h1>
    </div>
