@using Wadly_3.Database;
@model List<Film>
@{
    ViewData["Title"] = "Films";
}

<div class="Filmsoppagina">
    <div class="Allefilms">
        @foreach (Film film in Model)
        {
        <div class="film">
            <p>@film.Naam</p>
            <p class="Beschrijvingfilms">@film.Beschrijving</p>
            <a href="/film/@film.Id"><img src="@film.Img" /></a>
        </div>
        }
    </div>
</div>

