@using Wadly_3.Database;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="films">
        @foreach (Film film in Model.Take(3))
        {
            <div class="film">
                <p>@film.Naam</p>
                <p>@film.Prijs</p>
                <img src="@film.Img" />
            </div>
        }
    </div>
</div>

