@using Wadly_3.Database;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-home">
    <div class="filmshome">
        @foreach (Film film in Model.Take(3))
        {
            <div class="filmhomefilm">
                <a href="/film/@film.Id"><img src="@film.Img" /></a>
            </div>
        }
    </div>
</div>

