@using Wadly_3.Database;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> alle Films!</h1>
    <div class="films">
        @foreach (Film film in Model.Take(3))
        {
            <div class="film">
                <p>@film.Naam</p>
                <p>@film.Prijs</p>
                <img src="@film.Img" />
            </div>
        }
    </div>
</div>

@*<img src="https://media.pathe.nl/thumb/180x254/gfx_content/posterhr/Mulan_ps_1_jpg_sd-high_Copyright-2019-Disney-Enterprises-Inc-All-Rights-Reserved.jpg" alt="Mulan" class="Mulan">
<img src="https://media.pathe.nl/thumb/180x254/gfx_content/posterhr/Ava_ps_1_jpg_sd-high.jpg" alt="AVA" class="AVA">
<img src="https://media.pathe.nl/thumb/180x254/gfx_content/2%20Grote%20Still/Antebellum_ps_1_jpg_sd-high.jpg" alt="Antebellum" class="Antebellum">*@
