@{
    ViewData["Title"] = "notfound";
}

<div class="notfound">
    <div class="notfoundtekst">
        <h1>Oh nee, de pagina is niet gevonden!</h1>

        <p>Probeer het volgende:</p>
    </div>

    <div id="stappenplan">
        <ul|>
            <li>Is er een typefout in het internetadres?</li>
            <li>Probeer te refreshen.</li>
            <li>Probeerhet internetadres opnieuw in te typen.</li>
            <li>Probeer om terug naar de <a href="/">homepage</a> te gaan.</li>
            <li>Klik op de knop "Terug" om terug te keren naar de vorige pagina.</li>
        </ul|>
    </div>

    <div class="image">
        <img src="https://img-16.ccm2.net/_SqzzXVDSG50FWb_UBrCl3XwV78=/440x/1685e17045e747a899925aa16189c7c6/ccm-encyclopedia/99776312_s.jpg" />
    </div>
</div>
