@{
    ViewData["Title"] = "notfound";
}

<div class="notfound">
    <div class="notfoundtekst">
        <h1>Oh oh, deze pagina hebben wij niet!</h1>

        <p class="hihi">Dit is wat u kunt proberen:</p>
    </div>

    <div class="stappenplan">
        <ul| class="stappen">
            <li>Is er een typefout in het internetadres?</li>
            <li>Probeer te refreshen.</li>
            <li>Probeer het internetadres opnieuw in te typen.</li>
            <li>Probeer om terug naar de <a href="/" class="linkhomestap">homepage</a> te gaan.</li>
            <li>Klik op het pijltje terug om terug te keren naar de vorige pagina.</li>
        </ul|>
    </div>

    <div class="gif">
        <img src="https://media1.tenor.com/images/47bf1eb18ce20acee451b0513fa228f3/tenor.gif?itemid=11746329" />
    </div>
</div>
