@{
    ViewData["Title"] = "Succes";
}
<div class="succes">
    <h1>Gelukt</h1>
    <p class="succes">We hebben uw bericht ontvangen en we komen er zo snel mogelijk op terug</p>
</div>

<img class="successucces" src="https://media4.giphy.com/media/iGHbjYrUftITS/giphy.gif?cid=790b76116064b1921710b365103d73b5c2d5ea58d7e6cbfb&rid=giphy.gif&ct=g" />
