@model String
@{
    ViewData["Title"] = "Succeslogin";
}
<div class="succeslogin">
    <h1>Gelukt</h1>
    <p class="succes">Bedankt voor het inloggen @Model </p>
</div>

<img src="https://media.tenor.com/images/acc4116372dcc4b342cb1a00ae657151/tenor.gif" />
