@{
    ViewData["Title"] = "Succesbetaal";
}
<div class="succesbetaal">
    <h1>Gelukt</h1>
    <p class="succesbetaal2">U heeft de tickets besteld! We sturen u zo snel mogelijk een email met de tickets</p>
</div>

<img class="gifbetaal"src="https://media1.tenor.com/images/85ae0d497102003044775aebac6ca195/tenor.gif?itemid=15016293" />
